// Define variables for your color scheme

// For example:
$pink: #F286BF;
$orange: #F6BE6B;
$gray: #323232;
$green: #ABC760;
$blue: #5A8087;
$blue-1: #89D5D1;
$blue-2: #36B5AC;
$blue-3: #073B4C;
$light-gray: #C2C2C2;
$ivory: #E2D5AA;

// Predefined colours

$red: #EE5F5B;
$yellow: #FDB631;
$black: #000000;
