// Define variables for your color scheme

// For example:
$pink: #F286BF;
$orange: #F6BE6B;
$gray: #323232;
$green: #ABC760;
$blue: #02A6B0;
$light-gray: #F4F4F4;

// Predefined colours

$red: #EE5F5B;
$yellow: #FDB631;
$black: #000000;
