  <div class="footer">
    <div class="container">
      <p><strong>EchoFit</strong><br>Dadabhai Road,<br>Vile Parle West,<br>Mumbai - 400 056</p>
      <div class="row">
       <div class="footer-align">
        <div class="footer-links">
          <a href="https://www.facebook.com/ashrajin/?ref=bookmarks"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/AshrajInd"><i class="fa fa-twitter"></i></a>
          <a href="https://www.linkedin.com/company/ashraj-industries/"><i class="fa fa-linkedin"></i></a>
          <a href="https://www.linkedin.com/company/ashraj-industries/"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="footer-copyright">
          EchoFit
        </div>
      </div>
    </div>
  </div>
</div>
