<div class="footer">
  <div class="container">
    <p><strong>It is a website we made ourselves.</strong><br>Do excuse the gaps.<br>You can share your thoughts on WhatsApp though..</p>
    <p>     <a href="https://api.whatsapp.com/send?phone=919921858048&text=Hello%20Namrata%2C%0DI%20found%20this%20on%20your%20website.&source=&data="><i class="fa fa-whatsapp"> - Namrata</i></a>
      <br>
      <a href="https://api.whatsapp.com/send?phone=919920204292&text=Hello%20Jash%2C%0DI%20found%20this%20on%20your%20website.&source=&data="><i class="fa fa-whatsapp"> - Jash</i></a>
    </p>
    <p>
      <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1568798662/Decent%20Interior/hitchki_powai.jpg", width: "100%") %>
</p>
  </div>
</div>
