<div class="card-product detail detail-text">
  <div class="card-product-infos">
    <h3><%= heading %></h3>
    <div class="hidden">
      <p>
        <%= text %>
      </p>
    </div>
  </div>
</div>
