<div class = "navbar-jash">
  <a href="/"><i class="fas fa-home"></i></a>
  <a href="/pages/askthem"><i class="fas fa-user-friends"></i></a>
  <a href="/pages/askher"><i class="fas fa-female"></i></a>
  <a href="/pages/askhim"><i class="fas fa-male"></i></a>
  <a href="/pages/stalkus"><i class="fas fa-search"></i></a>
  <%#= link_to "Home", root_path %>
  <%#= link_to "Interview Them", pages_askthem_path, class: "navbar-item" %>
  <%#= link_to "Interview Her", pages_askher_path, class: "navbar-item" %>
  <%#= link_to "Interview Him", pages_askhim_path, class: "navbar-item" %>
  <%#= link_to "Contact Them", pages_stalkus_path, class: "navbar-item" %>
</div>

