<div class="invite">
  <%= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607966568/Wedding/WhatsApp_Image_2020-12-14_at_4.06.43_PM.jpg", width: "100%") %>
</div>
<div class="center">
  <%= render 'shared/design'%>
</div>
