
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607962428/Wedding/WhatsApp_Image_2020-12-14_at_5.23.28_PM.jpg');">
  <div class="banner-content">
    <h1>Welcome</h1>
    <a href="https://meet.google.com/wau-nwps-wzt" class="btn btn-primary btn-lg">Join us on Google Meet</a>
  </div>
</div>
<div class="margin-top"></div>
<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="card" id="goldhana">
      <div class="card-description">
        <h2>Gol Dhana</h2>
        <p>15-12-2020</p>
      </div>
      <%= link_to "", pages_goldhana_path, class: "card-link" %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-4">
    <div class="card" id="wedding">
      <div class="card-description">
        <h2>The Wedding</h2>
        <p>Due to COVID-19, we have not planned anything as yet.</p>
      </div>
      <%= link_to "", pages_wedding_path, class: "card-link" %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="card" id="party">
      <div class="card-description">
        <h2>Dance Party/Sangeet</h2>
        <p>We hope to have one for sure.</p>
      </div>
      <%= link_to "", pages_party_path, class: "card-link" %>
    </div>
  </div>
</div>
<div class="margin-top"></div>
