<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936539/Wedding/WhatsApp_Image_2021-05-25_at_2.47.46_PM_9.jpg)">
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936520/Wedding/WhatsApp_Image_2021-05-25_at_2.47.46_PM_5.jpg)">
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936538/Wedding/WhatsApp_Image_2021-05-25_at_3.02.52_PM.jpg)">
  </div>

  <div class="card-category vertical-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936521/Wedding/WhatsApp_Image_2021-05-25_at_2.47.46_PM.jpg)">
  </div>
  <div class="card-category vertical-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936536/Wedding/WhatsApp_Image_2021-05-25_at_3.06.22_PM.jpg)">
  </div>

  <div class="card-category vertical-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1621936537/Wedding/WhatsApp_Image_2021-05-25_at_3.02.16_PM.jpg)">
  </div>
</div>

<div class="foot-note">
  <h6>
    We would like to thank our friends Neel, Philoni, Shreedhar and Tanvi for getting married just before us and allowing us to have some fancy pictures without having to go for the pre-wedding shoot fad.
  </h6>
</div>
