<div class="goldhana">
    <br>
    <br>
<h3>
  Find us here:
</h3>
  <p>
    <a href="https://m.facebook.com/profile.php?id=1755710963&ref=content_filter"><i class="fa fa-facebook"> - Namrata</i></a>
    <br>
    <a href="https://www.instagram.com/namrata.mehta.777"><i class="fa fa-instagram"> - Namrata</i></a>
    <hr>
    <a href="https://www.youtube.com/channel/UCWWK-pec9PK0tXuBJqJJ5Uw?view_as=subscriber"><i class="fa fa-youtube"> - Jash</i></a>
    <br>
    <a href="https://www.linkedin.com/in/logicisaliar"><i class="fa fa-linkedin"> - Jash</i></a>
    <br>
    <a href="https://www.facebook.com/logicisaliar"><i class="fa fa-facebook"> - Jash</i></a>
    <br>
    <a href="https://www.instagram.com/logicisaliar"><i class="fa fa-instagram"> - Jash</i></a>
    <br>
    <br>
    <!-- <br> -->
    <!-- <a href="https://www.instagram.com/voiceofstupid"><i class="fa fa-instagram"> - Jash (other account)</i></a> -->
    <!-- <br> -->
    <!-- <a href="https://www.instagram.com/iflickmemes"><i class="fa fa-instagram"> - Memes in case you are bored</i></a> -->
    <%= render 'shared/design'%>
    <br>
    <br>
    <p>Makeup Artist (Engagement):</p>
    <a href="https://www.instagram.com/devina_arolkar"><i class="fa fa-instagram"> - Devina Arolkar</i></a>
    <br>
    <br>
    <p>Cake (Engagement):</p>
    <a href="https://www.daleseden.com/"><i class="fa fa-globe"> - Dale's Eden</i></a>
  </p>
</div>
