  <p>
    Hello!
<br>
<br>
We hope that you and your loved ones are safe in these difficult times. We did not have you over at our wedding, but we had you in our hearts so we have reached out to you in the easiest way we could think of.</p>
<div class="invite">
  <%#= image_tag("https://res.cloudinary.com/logicisaliar/image/upload/a_0/v1607966568/Wedding/WhatsApp_Image_2020-12-14_at_4.06.43_PM.jpg", width: "100%") %>
</div>
<div class="center">
  <%= render 'shared/design'%>
</div>
