
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: $blue;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
  p {
    padding-left: 20px;
    padding-top: 30px;
    strong {
      color: black;
    }
  }
}
.footer-links {
  display: flex;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 15px;
  padding: 0px 7px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer-copyright {
  font-size: 15px;
}

.footer-align {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
