
.bigicon {
  color:white;
}


nav.navbar {
  margin: 0px;
  // display: inline-block;
    display: inline;
  li {
    border: 1px solid white;
  }
}

.navbar-jash {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: $blue-1;
  position: fixed;
  width: 100vw;
}
